### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
# Find unique values for each column
unseries = purchase_data.nunique()
unseries

Purchase ID    780
SN             576
Age             39
Gender           3
Item ID        183
Item Name      179
Price          145
dtype: int64

## Player Count

* Display the total number of players

In [3]:
# The value_counts method counts unique values in a column
unique_players = len(purchase_data.SN.unique())
# players_count
unique_players

576

In [4]:
#Display the total number of players
total_players_count = pd.DataFrame({"Total Players": [unique_players]})
total_players_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#To obtain number of unique items
unique_items = len(purchase_data.iloc[:,4].unique())
unique_items

183

In [9]:
#To obtain average price
average_price = purchase_data.Price.mean()
average_price

3.050987179487176

In [10]:
#To obtain number of unique purchase ID
number_of_purchases = unseries["Purchase ID"]
number_of_purchases

780

In [11]:
#To obtain total revenue
total_revenue = purchase_data.Price.sum()
total_revenue

2379.77

In [14]:
purchasing_analysis_total = pd.DataFrame({"Number of Unique Items":[unique_items], "Average Price":[average_price], "Number of Purchases": [number_of_purchases], "Total Revenue": [total_revenue]})
# purchasing_analysis_total 

# Format with currency sign
#purchasing_analysis_total.style.format({"Average Price":"${:,.2f}", "Total Revenue":"${:,.2f}"})



purchasing_analysis_total["Average Price"] = purchasing_analysis_total["Average Price"].map("${:,.2f}".format)
purchasing_analysis_total["Total Revenue"] = purchasing_analysis_total["Total Revenue"].map("${:,.2f}".format)
purchasing_analysis_total

   Number of Unique Items Average Price  Number of Purchases  Total Revenue
0                     183         $3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [ ]:
#Find unique gender count
unique_gender_count = purchase_data.groupby("Gender")["SN"].nunique()
unique_gender_count.head()

In [ ]:
#Find unique gender percentage
unique_gender_percentage = (unique_gender_count/unique_players)
unique_gender_percentage

In [ ]:
# Create Gender Demographics data frame
gender_demographics = pd.DataFrame({"Gender Count": unique_gender_count,"Gender Percentage":unique_gender_percentage})
gender_demographics.round(2)

#Formatting

gender_demographics.style.format({'Gender Percentage': "{:,.2%}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# Group original data by Gender
groupby_gender = purchase_data.groupby("Gender")
groupby_gender.head()

In [ ]:
# Purchase Count
purchase_gender = groupby_gender["Purchase ID"].count()

# Average Purchase Price
avg_purchase_price_gender = groupby_gender["Price"].mean()

# Total Purchase Value
avg_purchase_total_gender = groupby_gender ["Price"].sum()

# Avg Total Purchase per Person
avg_purchase_per_person_gender = avg_purchase_total_gender/gender_count_df

In [ ]:
# Create data frame for Purchasing Analysis (Gender)
purchasing_analysis_gender = pd.DataFrame({"Purchase Count": purchase_gender, 
                                    "Average Purchase Price": avg_purchase_price_gender,
                                    "Average Purchase Value":avg_purchase_total_gender,
                                    "Avg Purchase Total per Person": avg_purchase_per_person_gender})
purchasing_analysis_gender


# Format with currency style
purchasing_analysis_gender.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
# Establish bins for ages
age_bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 99.99]
          
# Create the names for the bins
age_range = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [ ]:
# Categorize the existing players using the age bins.Hint: use pd.cut()
purchase_data["Age_Group"] = pd.cut(purchase_data["Age"],age_bins, labels=age_ranges)
purchase_data

In [ ]:
#Grouping data by age grop based on unique players information
unique_age_group  = purchase_data.groupby("Age_Group")["SN"].nunique()
unique_age_group

In [ ]:

age_grouped = purchase_data.groupby("Age_Group")
age_grouped

In [ ]:
# Count total unique players by age group
total_count_age = age_grouped["SN"].nunique()
total_count_age

In [ ]:
# Calculate percentages by age group
percentage_by_age = (total_count_age/576) 

# Create data frame 
age_demographics = pd.DataFrame({"Total Count": total_count_age, "Percentage of Players": percentage_by_age})

# Formatting percentage with two decimal places 
age_demographics.style.format({"Percentage of Players":"{:,.2%}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# Count purchases by age group
purchase_by_age = age_grouped["Purchase ID"].count()
# Obtain average purchase price by age group 
avg_purchase_price_age = age_grouped["Price"].mean()

# Calculate total purchase value by age group 
total_purchase_value = age_grouped["Price"].sum()

# Calculate the average purchase per person in the age group 
avg_purchase_per_person_age = total_purchase_value/total_count_age

# Create data frame with obtained values
age_demographics = pd.DataFrame({"Purchase Count": purchase_by_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})

# Format with currency style
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# Group purchase data by screen names
spender_stats = purchase_data.groupby("SN")

# Count the total purchases by name
purchase_count_spender = spender_stats["Purchase ID"].count()

# Calculate the average purchase by name 
avg_purchase_price_spender = spender_stats["Price"].mean()

# Calculate purchase total 
purchase_total_spender = spender_stats["Price"].sum().nunique()
# Create data frame with obtained values
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

# Sort in descending order to obtain top 5 spender names 
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

# Format with currency style
formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

In [ ]:
players_purchase_count_df = purchase_data.groupby("SN").count()["Price"].rename("Purchase Count")
players_average_price_df = purchase_data.groupby("SN").mean()["Price"].rename("Average Purchase Price")
players_total_df = purchase_data.groupby("SN").sum()["Price"].rename("Total Purchase Value")

#Convert to DataFrame.

total_user_data_df = pd.DataFrame({"Purchase Count":players_purchase_count_df,
                                   "Average Purchase Price": players_average_price_df,
                                   "Total Purchase Value": players_total_df})
print(total_user_data_df.head())

total_user_data_df.head()


# Sort table to show the top five spenders.

#top_five_spenders = total_user_data_df.sort_values("Total Purchase Value", ascending=False)


#top_five_spenders = top_five_spenders.head()

# Format with currency style
#top_five = top_five_spenders.style.format({"Average Purchase Price":"${:,.2f}",
                            #   "Total Purchase Value":"${:,.2f}"})

#top_five

### Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# Create new data frame with items related information 
items = purchase_data[["Item ID", "Item Name", "Price"]]

# Group the item data by item id and item name 
item_stats = items.groupby(["Item ID","Item Name"])

# Count the number of times an item has been purchased 
purchase_count_item = item_stats["Price"].count()

# Calcualte the purchase value per item 
purchase_value = (item_stats["Price"].sum()) 

# Find individual item price
item_price = purchase_value/purchase_count_item

# Create data frame with obtained values
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

# Sort in descending order to obtain top spender names and provide top 5 item names
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

# Format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
# Take the most_popular items data frame and change the sorting to find highest total purchase value
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"],ascending=False).head()
# Format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})